# Bundler
/.bundle/
/vendor/bundle/
Gemfile.lock
!spec/dummy/Gemfile.lock

# Build artifacts
/pkg/
*.gem

# Documentation
/.yardoc
/_yardoc/
/coverage/
/doc/

# Test artifacts
/tmp/
/spec/reports/
/spec/fixtures/fixtury_bot/
/spec/examples.txt
/log/
